

body {
    background-color: #191919;
    font-family: 'Montserrat';
    line-height: 140%;
    max-width: 900px;
    margin: 0 auto;

}

h1, h2, h3, p {
    color: #F1E9D9;
    /* margin: 0; */
    /* font-family: 'Montserrat'; */
}

a {
    color: #EB6447;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
}

a:hover {
    color: #D78A7B;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F1E9D9;
    padding: 16px;
    margin: 0px 16px;
}

#nav-links, #footer {
    display: flex;
    align-items: center;
    gap: 0px 24px;

}

.selected-nav {
    color: #F1E9D9;
    /* font-weight: 800; */
}

#intro {
    text-align: center;
    margin: 0 auto;
    padding: 36px 24px;
    max-width: 725px;

    animation: inFromBottom 0.4s ease-out 0.25s;
    animation-fill-mode: backwards;
}


#about-section {
    display: flex;
    flex-direction: row;
    gap: 0px 36px;
    margin: 36px;
    align-items: flex-start;
}

#about-pic {
    padding: 16px 0px;
    max-width: 100%;
    animation: inFromBottom 0.6s ease-out 0.25s;
    animation-fill-mode: backwards;
}

#about-text {
    animation: inFromBottom 0.4s ease-out 0.25s;
    animation-fill-mode: backwards;
}

#about-text, .project-text, .thumbnail-img {
    max-width: 100%;

}

.thumbnail-img img {
    border-radius: 6px;
}

.project-card {
    display: flex;
    flex-direction: row;
    gap: 36px;
    margin: 24px;
    padding: 24px;
    align-items: center;
    max-width: 825x;
    border-radius: 10px;
    transition: .4s;

    animation: inFromBottom 0.75s ease-out 0.25s;
    animation-fill-mode: backwards;
}

.project-card h3 {
    margin-top: 0px;
}

.project-card:hover {
    background-color: rgba(255,255,255,0.05);
    transform: translateY(-.3rem);
}

.project-card:hover .button {
    background: #EB6447;
    color: #F1E9D9;
}

.project-card:hover .button {
    background: #EB6447;
}

.button {
    border: 2px solid #EB6447;
    padding: 8px 16px;
    border-radius: 5px;
    width: fit-content;
    display: inline-block;
}

#footer{
    justify-content: center;
    padding: 16px;
    margin:  16px;
    border-top: 1px solid #F1E9D9;
}

#footer a:hover {
    filter: brightness(140%);
    transition:.25s;
}

#ux-methods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    max-width: 725px;
    margin:auto;
}

#ux-methods p {
    margin: 0px;
}

#project-paragraph {
    margin: 0 auto;
    padding: 36px 24px;
    max-width: 725px;
}

.text-center {
    text-align: center;
}


@keyframes inFromBottom {
    0% {
      opacity: 0;
      transform: translateY(2rem);
    }
    
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media screen and (max-width: 700px) {

#about-section, .project-card {
    flex-wrap: wrap;
}
#about-pic, .thumbnail-img {
    margin: 0 auto;
}

.project-card img {
    max-width: 100%;
}

}